@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

nav {
    z-index: 99999;
    width: 100%;
    background-color: #000 !important;
}

#logo {
    height: 60px !important;
}

.mild-transparent {
    background: rgba(0, 0, 0, 0.541) !important;
}

.drop-hover:hover {
    color: black !important;
}


/* Header */

#index-header {
    background: url(img/bgimg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

.index-container {
    padding-top: 100px;
    padding-left: 60px;
    position: relative;
    text-align: center;
    color: white;
    width: 35%;
    font-size: 32px;
    text-align: left;
    font-family: 'Merienda', cursive;
    font-family: 'Pattaya', sans-serif;
}

/* Why Us section */

.why-us-section {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(248, 242, 242);
}

.why-us-section h1 {
    font-size: 2.4rem;
    font-family: 'Patrick Hand', cursive;
}

.why-us {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
}

.why-us>.card {
    text-align: center;
    padding: 20px;
    margin: 10px 20px;
}

.why-us>.card img {
    vertical-align: middle;
    height: 100px;
    padding-top: 20px;
}

.why-us>.card h3 {
    font-size: 1.7rem;
    margin-top: 10px;
    font-family: 'Patrick Hand', cursive;
}

.why-us>.card p {
    margin: 20px auto;
}

/* Our chef warriors */

#our-chefs {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

#our-chefs  h1 {
    font-size: 2.4rem;
    font-family: 'Patrick Hand', cursive;
}

.our-chefs-intro {
    width: 80%;
    text-align: center;
    margin: 5vh auto;
    font-size: 1.25rem;
}


.chef-img {
    width: 30vw;
    height: 60vh;
}

.quote1{
    width: 40vw;
    height: 60vh;
}

/* About Us */

#aboutus {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

#aboutus  h1 {
    font-size: 2.4rem;
    font-family: 'Patrick Hand', cursive;
}

#aboutus  p {
    font-size: 1.3rem;
    text-align: left !important;

}

.teamqm {
    font-size: 1.7rem;
    font-family: 'Patrick Hand', cursive;
}